*{
    margin:0 ;  
    padding: 0;
}  
body{
    font-family: 'Open Sans', sans-serif;
} 
main{
    min-height: calc(100vh - 100px);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}  
header{
    width: 100%;
    background: #000;
    display: flex;
}  
.header_logo{
    color: #00FF7E ;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 30px;  
    margin-left: 12%;
    margin-bottom: 12px;
}  
nav{
    margin-top: 30px;
    margin-left: 29%;
}  
.topnav a{
    color: #ffffff;  
    text-align: center;  
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}  
.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}  
.topnav .icon{
    display: none;
}  
  
main{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.main_welcome{
    background:url(img/hand.png) no-repeat;
    background-size: 100% auto;
    text-align: center;  
    padding: 200px 0 410px 0;
}
main .main_welcome p{
    color: #000000;  
    font-size:20px;
}
main .main_welcome h1{
    color: #000000;  
    font-size:44px;
    text-decoration:none;
}
.light_text{
    font-weight:400;
}
.mycompany{
    color: #fcac45;  
    font-weight: 700;
}  
main .main_welcome h1:after {
    display: none;
}  

.wrapper{
    width: 76%;  
    margin: 0 auto;
}
main .main_about{
    display: flex;
    padding: 100px 0 100px 0;
}
.about_right{
    margin-left: 175px;
}
.about_right h1{
    display: inline-block;
    border-bottom: 3px solid  #fcac45;  
    padding-bottom: 20px;
}    

.about_right h1::after{
    display: none;  
}
.about_right p{
    margin: 30px 0 50px 0;  
    color: #909090;
}    
.about_right li{
    background: #dddcdc 0px no-repeat;
    padding-left: 25px;  
    margin-top: 10px;
    color: #5a5a5a;
}    
.mw-100{
    min-width: 100%;
}
  


.main_services h1{
    text-align: center;  
    padding: 100px 0 30px 0;
}
.main_services p{
    color: #9b9b9b;  
    margin-bottom: 100px;
    text-align: center; 
}  
.services_cards{
    text-align: center;  
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}
.services_cards h4{
    margin-top: 20px;  
    margin-bottom: 15px; 
}  
 
  

  
.main_work{
    text-align: center;
    padding: 100px 0 100px 0;  
}
.main_work h1{
    margin-bottom: 30px;
}
.main_work p{
    margin-bottom: 175px;
    color: #6c6c6c;
}  
.main_work img:hover{
 opacity: 0.9;
}


.center{
    width: 76%;  
    margin: 0 auto;
    text-align: center; 
}

.register{
    width: 100%;
    border-bottom: solid #000 5px;
}
form p{
    text-align: left;    
}

input{
    width: 360px;
    height: 40px;
    font-size: 20px;
    border:1px solid #999999;  
    border-radius: 8px;
} 

.registration_form {
    border-spacing: 0 30px;
}


.button_block{ 
    display: flex;
    justify-content: flex-end;
} 
input[type=submit] {
    width: 165px;
    height: 40px;  
    background: #00FF7E;  
    color: #fff;  
    margin-right: 0;  
    margin-top: 20px;
}  
  




footer{
    height: auto; width:100%;
    padding-bottom: 150px;
    background-color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 30px 0 30px 0;
}

.footer_cards{
    text-align: center;  
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}
.footer_cards a, .footer_cards p{
    color: #ffffff;
}
.footer_column h4{
    margin-top: 20px;  
    margin-bottom: 15px; 
    color: #ffffff;
}  
 
.col1 img{
    margin-left: 5px;
}  
.col1 img:hover{
    opacity: 0.9;
} 


@media screen and (max-width:1200px){
    nav{
        margin-left: 20%;
    }
}   
@media screen and (max-width:1105px){
    nav{
        margin-left: 10%;
    }
}  

@media screen and (max-width:1010px){
    .topnav a{
        display: none;
    }  
    .topnav a.icon{
        float: right;  
        margin-top: -17px;
        display: block;
        color: #fff;  
        font-size: 25px;
    }  
    nav{
        width: 100%;
    }  
    .topnav.responsive{
        position: relative;  
        top:50px;  
        left:-200px;
    }  
    header .topnav.responsive{
        height:340px;
    }  
    .topnav.responsive a.icon{
        position: absolute;  
        top:-50px;  
        right:-200px;
    }    
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }    
    label.required:after
    {
        color: red;
        content: " *";
    }
      
    main .main_welcome{
        padding: 50px 0 50px 0;
    }  
    main .main_welcome p{
        font-size: 14px;
    }  
    main .main_welcome h1{
        font-size: 25px;
    }    
    main .main_welcome h1:after{
        display: none;
    }
    .mw-100{
        max-width: 100%;
    }  
    .main_about{
        flex-direction: column;
    }  
    .about_right{
        text-align: center;  
        margin-left: 0;
    }  
    .about_right li{
        text-align: left;
    }  
    .about_right h1{
        font-size: 20px;  
        margin-top: 10px;
    }  
      
      
    .team_cards{
       flex-direction:column;
    }
    .services_cards{
        grid-template-columns: auto;
    }    
}

.faq_nav li{
    list-style-type: upper-roman; 
    font-size: 20px;
    margin-left: 50px;
}
.faq_list{
margin-bottom: 20px;
}